<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>

<body>
    <header>
        <div>
            <h1>Tech Blog</h1>
        </div>
    </header>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
        </ul>
    </nav>

</body>

</html>